@model CustomERPSolution_Invoices_Currency.Models.Invoice

@{
    ViewData["Title"] = "Invoice Details";
}

<h1>Invoice Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Client
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class="col-sm-2">
            Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            Total Amount
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
    </dl>
    <h4>Invoice Items</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InvoiceItems)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
